body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://static.vecteezy.com/system/resources/previews/027/597/094/large_2x/cat-and-dog-paper-cutouts-on-blue-background-suitable-for-veterinary-or-animal-care-silhouette-concept-free-photo.jpg"); /* Add your background image URL here */
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 400px;
    margin: 50px auto;
    background-color: rgba(10, 10, 10, 0.222); /* Semi-transparent white background */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.345);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #b0cbd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #222;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

.social-btn {
    background-color: #ddd;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.social-btn:hover {
    background-color: #ccc;
}
